p{
    text-align: center;
}
h3 {
background-color: rgb(218, 218, 182);
text-align: center;
}
body{
    font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color:lightgoldenrodyellow;
    margin: auto;
}
